{{ define "admin_home.layout"}}
    {{template "admin_home.content" .}}
{{end}}

{{define "admin_home.content"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Page</title>

    {{/*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">*/}}
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {{/*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">*/}}
    {{/*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*/}}
    {{/*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>*/}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/images/favicon.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/assets/images/logo_transparent.png" sizes="16x16" type="image/png">
    <!-- <link rel="stylesheet" href="admin_style.css"> -->

    <style>
        body {
            overflow: hidden;
        }
        ul#side-menu {
            display: flex;
        }
        ul#side-menu a {
            width: 100%;
        }
        span.user-name {
            font-size: 20px;
            font-family: 'roboto';
            font-weight: bold;
            color: rgb(5, 5, 29);
        }

        .edit-profile form{
            font-size: 20px;
        }
        .edit-profile form input{
            line-height:30px;
            font-size: 20px;
        }
        .dropdown-toggle .fa {
            color:black;
            vertical-align:middle;
        }

        .navbar-top div ul.nav li:hover .profile-dropdown{
            display: block;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
<div class="container-fluid full-height">
    <nav class="navbar-default navbar-top" role="navigation">
        <div class="sidebar-collapse ">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a class="" href="#">
                        <!-- <img src="images/secondlogo.jpg" alt="log"> -->
                        <strong>ADMIN PAGE</strong>
                    </a>
                </div>
                <div class="navbar-side-icon" href="" class="">
                    <a href="#" class="menu-icon block">
                        <i class="fa fa-bars side-icon" style="font-size: 25px;"></i>
                    </a>
                </div>
            </div>
            <ul class="nav" id="main-menu">
                <li class="nav-item dropdown nav_dropdown">
                    <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown"  role="button" id="menu1">
                        <img width="50px" height="50px" class="user-avatar rounded-circle mr-2" src=""/>
                        <span class="d-none d-md-inline-block">
                            </span>
                        <i style="font-size:20px; font-weight:bold" class="fa fa-angle-double-down"></i>

                    </a>
                    <div class=" profile-dropdown dropdown-menu" style="display: none;" aria-labelledby="menu1">
                        <a class="dropdown-item" href="user-profile-lite.html"><i class="material-icons"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">
                            <i class="material-icons text-danger"></i> Logout </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar-default navbar-side full-height side-show " role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a class="active-menu" href="#"><i class="fa fa-dashboard"></i><span class="d-none d-md-inline-block">Dashboard</span> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user"></i> <span class="d-none d-md-inline-block">Profile</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user-secret"></i><span class="d-none d-md-inline-block">Agents</span> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-hospital-o"></i><span class="d-none d-md-inline-block">Health Centers</span></a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-users"></i><span class="d-none d-md-inline-block">Users</span> </a>
                </li>
                <li>
                    <a href="../functions/logout.php"><i class="fa fa-sign-out"></i><span class="d-none d-md-inline-block" >Log out</span> </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <ul>
            <li>{{template "admin_dashboard.layout" .}}</li>
            <li>{{template "admin_edit_profile.layout" .}}</li>
            <li>{{template "admin_manage_healthcenter.layout" .}}</li>
            <li>{{template "admin_manage_agent.layout" .}}</li>
            <li>{{template "admin_manage_user.layout" .}}</li>

        </ul>
    </div>
</div>

<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/app.js"></script>

</body>

</html>

{{end}}