{{define "healthcenter_feedback.layout"  }}
    {{template "healthcenter_feedback.content" .}}
{{end}}

{{define "healthcenter_feedback.content"}}

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Given <b>FeedBack</b></h2>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover" id="example">
        <thead>
        <tr >

            <th >User Id</th>
            <th >Comment</th>
            <th>Commented At</th>

        </tr>
        </thead>
        <tbody id="healthcenter_table">
        <tr>
            <td >sample</td>
            <td >sample</td>
            <td>sample</td>

        </tr>
        </tbody>
    </table>

</div>

{{end}}