{{ define "user.footer.default.layout" }}
<footer class="container-fluid border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="footer-list">
                    <li class="list-title"><b>TenaHub</b></li>
                    <li><a href="#">About</a> </li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">To the top</a> </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 border-top copy-right">
            &copy; 2019 TenaHub, Inc. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
{{ end }}